body {
  background-image: url("https://images8.alphacoders.com/442/442432.jpg");
  background-size: cover;

}

.jakethedog {
  height: 15rem;
  width: 15rem;

}

.Finnboi {
  height: 10rem;
  width: 10rem;
}

.Bmos {
  height: 10rem;
  width: 10rem;
}